<p>
  <%= @post.title %>
</p>

<p>
  <%= @post.text %>
</p>

<%= render @post.comments %>
<%= render "comments/form" %>

<%= link_to '編集', edit_post_path(@post) %> |
<%= link_to '投稿一覧に戻る', posts_path %>
